.page[b-avg83zpdjh] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-avg83zpdjh] {
    flex: 1;
}

.sidebar[b-avg83zpdjh] {
    margin-top: 105px;
    /* background: linear-gradient(0deg, rgb(116, 155, 173) 0%, rgb(155, 201, 224) 100%); */
    background: linear-gradient(0deg, rgb(174, 201, 214) 0%, rgb(208, 239, 255) 100%);
    /* background-color: rgb(234, 248, 255); */
    position: fixed;
    height: 100vh;
    border-radius: 0px 0px 10px;
    padding: 10px 20px 0px 10px;
}

.top-row[b-avg83zpdjh] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-avg83zpdjh]  a,
.top-row[b-avg83zpdjh]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-avg83zpdjh]  a:hover,
.top-row[b-avg83zpdjh]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-avg83zpdjh]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}
