.navbar-body[b-25mzjgzejr] {
  background: linear-gradient(0deg, rgba(63, 128, 160, .7) 0%, rgba(57,159,209,.5) 100%);
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: rgba(255,255,255,.7);
  backdrop-filter: blur(15px);
}

.navlinks a[b-25mzjgzejr] {
  font-size: 1.4rem;
  color: rgb(37, 71, 90);
  text-decoration: none;
}

.navlinks[b-25mzjgzejr] {
  font-size: 1.3rem;
  color: rgb(37, 71, 90);
  margin-top: 10px;
}

.site-title[b-25mzjgzejr] {
  text-decoration: none;
  color: inherit;
}

.site-title img[b-25mzjgzejr] {
  width: 70px;
  height: 70px;
}

h1[b-25mzjgzejr] {
  font-family: 'KlubKatz', sans-serif;
  font-weight: 900;
  font-size: 3rem !important;
  margin: 0;
  word-spacing: -1rem !important;
  color: rgb(37, 71, 90);
}

h3[b-25mzjgzejr] {
  font-family: 'KlubKatz', sans-serif;
  font-weight: 900;
  font-size: 1.5rem !important;
  margin-top: -5px;
  word-spacing: -.5rem !important;
  color: rgb(53, 99, 126);
}