/* /Pages/HomePage.razor.rz.scp.css */
/* .home-container {
  overflow-x: hidden;
  position: relative;
  top: -18px;
  width: 110%;
  left: -5%;
  z-index: -1;
}

.header-bg {
  width: 100%;
} */

.white-bg[b-eoktrec1zn] {
  width: 110%;
  height: 106px;
  position: relative;
  z-index: 0;
  background-color: white;
  top: -113px;
  left: -5%;
}

.box-shadow-top[b-eoktrec1zn] {
  
}

.test-box[b-eoktrec1zn] {
  background-color: white;
  width: 104%;
  left: -2.2%;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  padding: 20px;
  padding-bottom: 300px;
}

.test-box-2[b-eoktrec1zn] {
  background-color: white;
  width: 104%;
  left: -2.2%;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  padding: 20px;
  padding-bottom: 300px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-avg83zpdjh] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-avg83zpdjh] {
    flex: 1;
}

.sidebar[b-avg83zpdjh] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-avg83zpdjh] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-avg83zpdjh]  a, .top-row[b-avg83zpdjh]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-avg83zpdjh]  a:hover, .top-row[b-avg83zpdjh]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-avg83zpdjh]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-avg83zpdjh] {
        display: none;
    }

    .top-row.auth[b-avg83zpdjh] {
        justify-content: space-between;
    }

    .top-row[b-avg83zpdjh]  a, .top-row[b-avg83zpdjh]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-avg83zpdjh] {
        flex-direction: row;
    }

    .sidebar[b-avg83zpdjh] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-avg83zpdjh] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-avg83zpdjh]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-avg83zpdjh], article[b-avg83zpdjh] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavbarNotLoggedIn.razor.rz.scp.css */
.navbar-body[b-25mzjgzejr] {
  background: linear-gradient(0deg, rgba(63, 128, 160, .7) 0%, rgba(57,159,209,.5) 100%);
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: rgba(255,255,255,.7);
  backdrop-filter: blur(15px);
}

.navlinks a[b-25mzjgzejr] {
  font-size: 1.4rem;
  color: rgb(37, 71, 90);
  text-decoration: none;
}

.navlinks[b-25mzjgzejr] {
  font-size: 1.3rem;
  color: rgb(37, 71, 90);
  margin-top: 10px;
}

.site-title[b-25mzjgzejr] {
  text-decoration: none;
  color: inherit;
}

.site-title img[b-25mzjgzejr] {
  width: 70px;
  height: 70px;
}

h1[b-25mzjgzejr] {
  font-family: 'KlubKatz', sans-serif;
  font-weight: 900;
  font-size: 3rem !important;
  margin: 0;
  word-spacing: -1rem !important;
  color: rgb(37, 71, 90);
}

h3[b-25mzjgzejr] {
  font-family: 'KlubKatz', sans-serif;
  font-weight: 900;
  font-size: 1.5rem !important;
  margin-top: -5px;
  word-spacing: -.5rem !important;
  color: rgb(53, 99, 126);
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zfa7f46glc] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zfa7f46glc] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zfa7f46glc] {
    font-size: 1.1rem;
}

.oi[b-zfa7f46glc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-zfa7f46glc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zfa7f46glc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zfa7f46glc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zfa7f46glc]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-zfa7f46glc]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-zfa7f46glc]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zfa7f46glc] {
        display: none;
    }

    .collapse[b-zfa7f46glc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
