@page "/caregiversearch"


<PageTitle>Search for Caregivers</PageTitle>

<div style="margin-left: 250px;">
  <h3 class="text-center display-6 text-ezer">Search for Caregivers</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Name" aria-label="Name"
      aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary search-button" type="button">Button</button>
    </div>
  </div>
</div>

@* //navbar-logged-in

//side-menu

//sql call for all caregivers, form data filters with linq queries
//filters -> distance, doula/midwife, experience, worldview
//button on each account that sends to detail page *@