.form-control {
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.search-button {
  border-radius: 0px 10px 10px 0px;
}


.search-result-container {
  visibility: hidden;
}

.show-div {
  visibility: visible;
}

.btn-search {
  color: azure  !important;
  background-color: rgb(37, 71, 90) !important;
}

.btn-search:hover {
  background-color: rgb(48, 92, 118) !important;
}