@page "/dashboard"
@using System.Text.Json;
@inject HttpClient Http;
@inject ILocalStorageService localStorage
@inject IUserService UserService


<PageTitle>Home</PageTitle>

<div style="margin-left: 250px;">
  <h2 class="text-center display-6 text-ezer">Welcome @UserName!</h2>

  <div
    class="alert alert-danger col-7 m-auto mt-3 alert-dismissible fade show d-flex justify-content-between align-items-center"
    role="alert">
    <div>
      Please make sure to finish creating your account under the <a href="myaccount" class="alert-link">My Account</a>
      section.
    </div>
    <button type="button" class="btn btn-sm btn-danger close" data-bs-dismiss="alert"><span class="oi oi-x"
        aria-hidden="true"></span></button>

  </div>

  @{
    if (weekData != null)
    {
      <div class="card col-7 m-auto mt-4">
        <div class="card-header text-center">
          <h4 class="display-6" style="font-size: 1.7rem;">This week in your pregnancy:</h4>
        </div>
        <div class="card-body text-center">
          <p>You are @weekData?.WeekId weeks along!</p>
          <div class="baby-image-box">
            <img src="@weekData.BabyImage" alt="Baby Size">
          </div>
          <p>@weekData.BabySize</p>
          <p>For more info, visit <a href="@weekData.WeekLink">The Bump</a>.</p>
        </div>
      </div>
    }
  }



</div>

@code {
  public int? UUID { get; set; }
  public string UserName { get; set; }
  public string DueDate { get; set; }
  public WeekData weekData { get; set; }

  protected override async Task OnInitializedAsync()
  {
    UUID = await localStorage.GetItemAsync<int>("UUID");
    UserName = await localStorage.GetItemAsync<string>("UserName");
    DueDate = await localStorage.GetItemAsync<string>("DueDate");
    if (DueDate != null)
    {
      var weekDataResult = await UserService.GetWeekData(DueDate);
      weekData = weekDataResult;
    }
  }

}