@page "/"
@inject NavigationManager NavigationManager


<div class="white-bg"></div>

<div class="header-bg"></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="test-box">
  <div class="box-content col-10 m-auto">
    <h1 class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, magnam.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas labore omnis, sint esse assumenda excepturi quod
      consectetur placeat quisquam amet unde, ab rem qui voluptatum velit recusandae magni quos odit.</p>
  </div>
</div>

<div class="test-box">

</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

@code {
      protected override async Task OnInitializedAsync()
    {
        string currentUrl = NavigationManager.Uri;
        Console.WriteLine(currentUrl);

    }
}