/* .home-container {
  overflow-x: hidden;
  position: relative;
  top: -18px;
  width: 110%;
  left: -5%;
  z-index: -1;
}

.header-bg {
  width: 100%;
} */

.white-bg {
  width: 110%;
  height: 106px;
  position: relative;
  z-index: 0;
  background-color: white;
  top: -113px;
  left: -5%;
}

.box-shadow-top {
  
}

.test-box {
  background-color: white;
  width: 104%;
  left: -2.2%;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  padding: 20px;
  padding-bottom: 300px;
}

.test-box-2 {
  background-color: white;
  width: 104%;
  left: -2.2%;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  padding: 20px;
  padding-bottom: 300px;
}