@page "/login"
@inject IUserService UserService
@inject NavigationManager NavigationManager

<div class="logreg-container d-flex justify-content-center gap-5 mt-4">

  <div class="reg col-lg-4 col-xl-3 shadow-sm">
    <div class="card shadow-sm">
      <div class="card-header">
        <h2 class="text-ezer">Register</h2>
      </div>
      <div class="card-body p-4">

        <EditForm Model="user">

          <div class="form-floating">
            <input for="FirstName" class="form-control" @bind-value="user.FirstName" placeholder="First Name:">
            <label id="FirstName">First Name:</label>
          </div>
          <div class="form-floating mt-3">
            <input for="LastName" class="form-control" placeholder="Last Name:" @bind-value="user.LastName">
            <label id="LastName">Last Name:</label>
          </div>
          <div class="form-floating mt-3">
            <input for="Email" class="form-control" placeholder="Email:" @bind-value="user.Email">
            <label id="Email">Email:</label>
          </div>
          <div class="form-floating mt-3">
            <input for="Password" class="form-control" placeholder="Password:" @bind-value="user.Password">
            <label id="Password">Password:</label>
          </div>
          <div class="form-floating mt-3">
            <input for="ConfirmPassword" class="form-control" placeholder="Confirm Password:" @bind-value="user.ConfirmPassword">
            <label id="ConfirmPassword">Confirm Password:</label>
          </div>
          <button type="button" class="mt-3 btn btn-primary" @onclick="() => OpenDisclaimerModal()">Register</button>

          @if (DisclaimerModelOpen)
          {
            <DisclaimerModal OnClose="@OnDisclaimerAgree" ModalBody="This is the modified text." />
          }

        </EditForm>

      </div>
    </div>
  </div>

  <div style="width: 20px;"></div>

  <div class="login col-lg-4 col-xl-3">
    <div class="card shadow-sm">
      <div class="card-header">
        <h2 class="text-ezer">Login</h2>
      </div>
      <div class="card-body p-4">

        <div class="form-floating">
          <input for="LogEmail" class="form-control" placeholder="Email:" @bind-value="loginUser.LogEmail">
          <label id="LogEmail">Email:</label>
        </div>

        <div class="form-floating mt-3">
          <input for="LogPassword" class="form-control" placeholder="Password:" @bind-value="loginUser.LogPassword">
          <label id="LogPassword">Password:</label>
        </div>

        <input type="submit" value="Login" class="mt-3 btn btn-primary">

      </div>
    </div>
  </div>
</div>


@code {
  public bool DisclaimerModelOpen { get; set; }

  User? user = new User();

  LoginUser? loginUser = new LoginUser();

  private void OnDisclaimerAgree(bool accepted)
  {
    DisclaimerModelOpen = false;
    @* async Task HandleSubmit()
    {
      await UserService.CreateUser(user);
    } *@
    StateHasChanged();
  }

  private void OpenDisclaimerModal()
  {
    DisclaimerModelOpen = true;
    StateHasChanged();
  }
}