.form-control {
  font-size: .8rem;
  height: 30px;
  padding: 0;
}

.form-floating {
  font-size: .8rem;
}

label {
  margin-top: -10px;
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label {
  margin-top: -5px;
}

.card-header-2 {
  height: 40px;
}
