@page "/myaccount"
@inject ILocalStorageService localStorage
@inject IUserService UserService
@inject NavigationManager NavigationManager

<PageTitle>My Account</PageTitle>

<div style="margin-left: 250px;">
  @* <h2 class="text-center text-ezer mb-2 display-6">My Account</h2> *@
  <div class="col-11 m-auto mt-2">
    <div class="card-body">

      <EditForm Model="@currentUser" OnSubmit="@HandleSubmit">
        <div class="top d-flex justify-content-center gap-3">
          <div class="card box-shadow col-3">
            <div class="card-header card-header-2 text-center text-ezer">
              <h5>I am...</h5>
            </div>
            <div class="card-body p-2" style="padding-left: 15px !important;">
              <div class="form-check">
                <InputCheckbox class="form-check-input" id="IsMidwife" @bind-Value="currentUser.IsMidwife" />
                <label class="form-check-label" for="IsMidwife">
                  A Midwife
                </label>
              </div>
              <div class="form-check">
                <InputCheckbox class="form-check-input" id="IsDoula" @bind-Value="currentUser.IsDoula" />
                <label class="form-check-label" for="IsDoula">
                  A Doula
                </label>
              </div>
            </div>
          </div>
          <div class="card box-shadow col-3">
            <div class="card-header card-header-2 text-center text-ezer">
              <h5>My Caregiver(s)</h5>
            </div>
            <div class="card-body p-2">
              <NavLink class="nav-link text-center" href="caregiversearch">
                <span class="oi oi-people text-ezer" aria-hidden="true"></span> Find Doulas
              </NavLink>
              <NavLink class="nav-link  text-center" href="caregiversearch">
                <span class="oi oi-people text-ezer" aria-hidden="true"></span> Find Midwives
              </NavLink>
            </div>
          </div>
        </div>
        <div class="middle mt-2">
          <div class="middle-forms d-flex gap-2 justify-content-around">
            <div class="card box-shadow col-3 mt-2">
              <div class="card-header card-header-2 text-center text-ezer">
                <h5>Your Information</h5>
              </div>
              <div class="card-body">
                <div class="form-floating">
                  <InputText name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number:" class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.PhoneNumber" />
                  <label for="PhoneNumber">Phone Number:</label>
                </div>
                <div class="form-floating mt-3">
                  <InputText name="AddressStreet" id="AddressStreet" placeholder="Street Address:"
                    class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.AddressStreet" />
                  <label for="AddressStreet">Street Address:</label>
                </div>
                <div class="form-floating mt-3">
                  <InputText name="AddressCity " id="AddressCity" placeholder="City:" class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.AddressCity" />
                  <label for="AddressCity">City:</label>
                </div>
                <div class="form-floating mt-3">
                  <InputText name="AddressState" id="AddressState" placeholder="State:" class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.AddressState" />
                  <label for="AddressState">State:</label>
                </div>
                <div class="form-floating mt-3">
                  <InputText name="AddressZipcode" id="AddressZipcode" placeholder="Zip Code:"
                    class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.AddressZipcode" />
                  <label for="AddressZipcode">Zip Code:</label>
                </div>
                <div class="form-floating mt-3">
                  <InputDate name="DueDate" id="DueDate" placeholder="Your Due Date:" class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.DueDate"/>
                  <label for="DueDate">Your Due Date:</label>
                </div>
              </div>
            </div>
            <div class="card box-shadow col-3 mt-2">
              <div class="card-header card-header-2 text-center text-ezer">
                <h5>Spouse Info</h5>
              </div>
              <div class="card-body">
                <div class="form-floating">
                  <InputText name="SpouseFirstName" id="SpouseFirstName" placeholder="First Name:"
                    class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.SpouseFirstName" />
                  <label for="SpouseFirstName">First Name:</label>
                </div>
                <div class="form-floating mt-3">
                  <InputText name="SpouseLastName " id="SpouseLastName" placeholder="Last Name:"
                    class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.SpouseLastName" />
                  <label for="SpouseLastName">Last Name:</label>
                </div>
                <div class="form-floating mt-3">
                  <InputText name="SpouseNumber" id="SpouseNumber" placeholder="Phone Number:"
                    class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.SpouseNumber" />
                  <label for="SpouseNumber">Phone Number:</label>
                </div>
              </div>
            </div>
            <div class="card box-shadow col-3 mt-2">
              <div class="card-header card-header-2 text-center text-ezer">
                <h5>Emergency Info</h5>
              </div>
              <div class="card-body">
                <div class="form-floating">
                  <InputText name="EmergencyFirstName" id="EmergencyFirstName" placeholder="First Name:"
                    class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.EmergencyFirstName" />
                  <label for="EmergencyFirstName">First Name:</label>
                </div>
                <div class="form-floating mt-3">
                  <InputText name="EmergencyLastName " id="EmergencyLastName" placeholder="Last Name:"
                    class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.EmergencyLastName" />
                  <label for="EmergencyLastName">Last Name:</label>
                </div>
                <div class="form-floating mt-3">
                  <InputText name="EmergencyNumber" id="EmergencyNumber" placeholder="Phone Number:"
                    class="form-control" style="font-size: .8rem; height: 45px" @bind-Value="currentUser.EmergencyNumber" />
                  <label for="EmergencyNumber">Phone Number:</label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-3 box-shadow">Save Changes</button>
          </div>
        </div>
      </EditForm>

    </div>
  </div>

</div>

@code {
  User currentUser { get;set; } = new User();

  public int UUID { get;set; }

  protected override async Task OnInitializedAsync()
  {
    UUID = await localStorage.GetItemAsync<int>("UUID");
    currentUser = await UserService.GetSingleUser(UUID);
  }

  private async Task HandleSubmit()
  {
    await UserService.UpdateUser((User)currentUser);
    await localStorage.SetItemAsync("DueDate", currentUser.DueDate);
    NavigationManager.NavigateTo("dashboard");
  }
}