.card {
    width : 250px;
    /* outline: solid 2px black; */
    margin: 5px;
}

.button {
    border-radius: 7px;
    padding: 7px;
    outline: solid 1px white;
}

.search-image {
    height: 110px;
    width: auto;
    box-shadow: 1px 1px 1px 1px white;
    background-color: white;
    border-radius: 7px;
}