@inherits LayoutComponentBase
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<div class="page d-flex flex-column">

    @{
        if (UUID != 0)
        {
            <NavbarLoggedIn />
            @if (currentUrl != "http://localhost:5140/" & currentUrl != "http://localhost:5140/login" & currentUrl != "http://localhost:5140/about" & currentUrl != "http://localhost:5140/contact")
            {
                <div class="sidebar box-shadow">
                    <NavMenu />
                </div>
            }
        }
        else
        {
            <NavbarNotLoggedIn />
        }


    }


    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

@code {
    public int? UUID { get; set; }
    public bool loggedIn { get; set; }
    public string currentUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UUID = await localStorage.GetItemAsync<int>("UUID");
        currentUrl = NavigationManager.Uri;
    }

}