<div class="navbar-body p-2 box-shadow">

  <div class="navbar-content col-7 m-auto d-flex align-items-center justify-content-between">
    <a href="/" class="site-title d-flex gap-3">
    <img src="images/ezer-logo.png" alt="Ezer Hand" class="mt-1">
      <div class="site-title">
        <h1>Ezer App</h1>
        <h3>Helping You Help</h3>
      </div>
    </a>
    <div class="navlinks d-flex gap-3">
      <a href="about">About</a>
      <p>|</p>
      <a href="contact">Contact</a>
      <p>|</p>
      <a href="login">Login</a>
    </div>
  </div>

</div>