.navbar-body {
  background: linear-gradient(0deg, rgba(63, 128, 160, .7) 0%, rgba(57,159,209,.5) 100%);
}

.navlinks a {
  font-size: 1.4rem;
  color: rgb(37, 71, 90);
  text-decoration: none;
}

.navlinks {
  font-size: 1.3rem;
  color: rgb(37, 71, 90);
  margin-top: 10px;
}

.site-title {
  text-decoration: none;
  color: inherit;
}

.site-title img {
  width: 70px;
  height: 70px;
}

h1 {
  font-family: 'KlubKatz', sans-serif;
  font-weight: 900;
  font-size: 3rem !important;
  margin: 0;
  word-spacing: -1rem !important;
  color: rgb(37, 71, 90);
}

h3 {
  font-family: 'KlubKatz', sans-serif;
  font-weight: 900;
  font-size: 1.5rem !important;
  margin-top: -5px;
  word-spacing: -.5rem !important;
  color: rgb(53, 99, 126);
}