.navbar-body {
  background: linear-gradient(0deg, rgba(63, 128, 160, .6) 0%, rgba(57,159,209,.5) 100%);
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: rgba(255,255,255,.3);
  backdrop-filter: blur(15px);
}

.navlinks a {
  font-size: 1.4rem;
  color: rgb(37, 71, 90);
  text-decoration: none;
}

.navlinks {
  font-size: 1.3rem;
  color: rgb(37, 71, 90);
  margin-top: 10px;
}

.navlinks p {
  margin-top: 13px;
}

.site-title {
  text-decoration: none;
  color: inherit;
  /* filter: drop-shadow(0px 0px 30px rgba(255,255,255,.3)) drop-shadow(0px 0px 10px rgba(255,255,255,.1)); */
}

.site-title img {
  width: 70px;
  height: 70px;
}

h1 {
  font-family: 'KlubKatz', sans-serif;
  font-weight: 900;
  font-size: 3rem !important;
  margin: 0;
  word-spacing: -1rem !important;
  color: rgb(37, 71, 90);
}

h3 {
  font-family: 'KlubKatz', sans-serif;
  font-weight: 900;
  font-size: 1.5rem !important;
  margin-top: -5px;
  word-spacing: -.5rem !important;
  color: rgb(53, 99, 126);
}